body {
  background-color: black;
  color: green;
  font-family: courier;
  font-weight: bold;
  font-size: 16px;
  padding: 0
  border: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.mail-input {
  border: 0;
  background-color: black;
  color: green;
  font-family: courier;
  font-weight: bold;
  font-size: 16px;
}

pre {
  border: 0;
  background-color: black;
  color: green;
  font-family: courier;
  font-weight: bold;
  font-size: 16px;
}